# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
crew-ms-frontend/node_modules
crew-ms-frontend/.pnp
crew-ms-frontend/.pnp.js

# testing
crew-ms-frontend/coverage

# production
crew-ms-frontend/build

# misc
.*
crew-ms-frontend/.DS_Store
crew-ms-frontend/.env.local
crew-ms-frontend/.env.development.local
crew-ms-frontend/.env.test.local
crew-ms-frontend/.env.production.local

crew-ms-frontend/npm-debug.log*
crew-ms-frontend/yarn-debug.log*
crew-ms-frontend/yarn-error.log*

# Flask
*.pyc
crew-ms-backend/data_manager/secrets.json
*.
*.xml
*.iml
